<!DOCTYPE>
<html>
  <body>
    <header>
      <h1>Hello World Newspaper</h1>
    </header>
    <ul id="articlesList">
    </ul>

    <h3>Add a article here:</h3>
    <div id = "addArticleForm">
      <input type="text" id="newArticleHeadline" placeholder="article headline">
      <input type="text" id="newArticleContent" placeholder="content">
      <input type="text" id="newArticleAuthor" placeholder="author">

      <button id = "addNewArticle">ADD IT!</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>

    <script src = "js/models/article.js"></script>
    <script src = "js/collections/article_collection.js"></script>
    <script src = "js/views/article_views.js"></script>

    <script type = "text/template" id = "articleTemplate">
      <div class = "article">

        <h3><%= article.headline %></h3>
        <h4><%= article.author%></h4>
        <p><%= article.content %></p>
        <button class = "editButton">Edit</button>
        <button class = "deleteButton">Delete</button>
      </div>
      <span class = "editForm" style = "display: none">
        <input type = "text" id = "newHeadline<%= article.id %>"
              value = "<%= article.headline %>"> is a
        <input type = "text" id = "newContent<%= article.id %>"
              value = "<%= article.content %>">
        <input type = "text" id = "newAuthor<%= article.id %>"
              value = "<%= article.author %>">
        <button class = "updateButton">Update</button>

      </span>
    </script>

    
  </body>
</html>
